{
  "worker_id": [
    "node1",
    "node2"
  ],
  "worker_lat": [
    42.398790,
    42.394790
  ],
  "worker_lon": [
    -72.528574,
    -72.529574
  ],
  "base_id": [
    "base0"
  ],
  "base_lat": [
    42.392790
  ],
  "base_lon": [
    -72.527574
  ]
}